header {
  width: 100%;
  height: 70px;
  box-shadow: 0 2px 40px rgba(0, 0, 0, 0.4);
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 45px;
}
.icon_text {
  font-size: 25px;
  font-family: "Ubuntu", sans-serif;
  margin-top: 13px;
  cursor: pointer;
}
.searchWrapper {
  max-width: 900px;
  width: 100%;
}
.searchWrapper input {
  width: 100%;
  height: 45px;
  padding: 0 25px 3px;
  border-radius: 20px;
  outline: none;
  border: none;
  background: rgba(0, 0, 0, 0.1);
}
.authWrapper {
  width: 300px;
  height: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.authWrapper a {
  width: 80px;
  border: none;
  color: white;
  background: #3b3bff;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.authWrapper a:last-child {
  background: #ccc;
  color: black;
}
.categories {
  width: 100px;
  height: 70px;
  text-align: center;
  padding-top: 13px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.categories:hover .dropDawnCategories {
  display: flex;
}
.dropDawnCategories {
  width: 300px;
  height: 500px;
  position: absolute;
  background: white;
  left: -5px;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 10px;
  top: 70px;
  display: none;
}
